<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="hu">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" type="text/css" href="../static/css/szopki.css" th:href="@{/css/szopki.css}">
    <script src="https://kit.fontawesome.com/97806b6d0c.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="admin.html :: header">
</div>
<div>


    <h2>Felhasználók:</h2>
    <hr>

    <div class="tablazat">
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Felhasználónév</th>
                <th>Jelszó változtatás</th>
                <th>Admin</th>
                <th>Törlés</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="gtuser, rowStat: ${gtusers}">
                <td th:text="${gtuser.id}">1</td>
                <td th:text="${gtuser.userName}">neugt</td>
                <td>
                    <form method="post" action="/admin/users/chpass">
                        <input type="hidden" th:value="${gtuser.id}" name="id">
                        <input type="password" name="password">
                        <button type="submit" value="Jelszó módosítása"><i class="fas fa-unlock"></i></button>
                    </form>
                </td>

                <td>
                    <form method="post" action="/admin/users/makeadmin">
                        <input type="hidden" th:value="${gtuser.id}" name="id">
                        <button type="submit" name="admin" th:value="${!gtuser.isAdmin()}"><i class="fas"
                                                 th:classappend="${gtuser.isAdmin()} ? fa-minus : fa-plus"></i></button>
                    </form>
                </td>
                <td>
                    <form method="post" action="/admin/users/rmuser">
                        <input type="hidden" th:value="${gtuser.id}" name="id">
                        <button type="submit" th:fragment="deleteButton"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </td>
            </tr>
            <tr>
                <td colspan="5" style="background-color: gray"></td>
            </tr>
            <tr>
                <form method="post" action="/admin/users/new">
                    <td><i class="fas fa-plus"></i></td>
                    <td><input type="text" name="userName"></td>
                    <td><input type="password" name="password"></td>
                    <td><input type="checkbox" name="isAdmin"></td>
                    <td>
                        <button type="submit" th:fragment="addButton">Hozzáad <i class="fas fa-save"></i></button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
